.menu-container {
  display: flex;
  width: 200px;
  flex-direction: column;
  justify-content: space-between;
  padding: 20px;
  background-color: #46708b;
}

.nav-logo-container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 15px;
}

.logo {
  width: 130px;
  height: 130px;
}

.nav-item {
  margin-bottom: 25px;
  border-bottom: #56819c 1px solid;
}

.nav-span-btn{
  color: #dfdee4;
  font-size: 20px;
  padding: 5px;
  
}

.nav-span-btn:hover {
  cursor: pointer;
  color: #fcfcfc;
}

.nav-footer {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.nav-user-name {
  font-size: 20px;
  color: #2c2c35;
  padding: 5px;
  display: flex;
  align-items: center;
  gap: 5px;
}

.logout-btn {
  color: #1a1919;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  background-color: #8fa2bb;
  border-radius: 5px;
}

.logout-btn:hover {
  cursor: pointer;
  background-color: #a5b1c0;
}

.logout-icon {
  width: 30px;
  padding: 5px;
}

.user-icon {
  background-color: #dbd6d6;
  border-radius: 50%;
  width: 20px;
  padding: 2px;
}